{include file="common/header-base" /}
{include file="common/header" /}
<div class="imfox-container">
    <table class="layui-table" id="list" lay-filter="list" lay-skin="line"></table>
</div>
<script type="text/html" id="list-table-pay-status">
    {{# if(d.pay_type == '0'){ }}
    <a href="javascript:;" style="color: green">免费</a>
    {{# }else if(d.status == '0'){ }}
    <a href="javascript:;" style="color: #fb6638">未支付{{d.pay_price}}元</a>
    {{# }else if(d.status >= '1'){ }}
    <a href="javascript:;" style="color: green">已支付{{d.pay_price}}元</a>
    {{# } }}
</script>
<script type="text/html" id="list-table-status">
    {{# if(d.pay_type == '1'){ }}
        {{# if(d.status == '0'){ }}
            <a href="javascript:;" style="color: #fb6638">未支付</a>
        {{# }else if(d.status == '1'){ }}
            <a href="javascript:;" style="color: #fb6638" lay-event="show-reason">创建失败，查看原因</a>
        {{# }else if(d.status == '2'){ }}
            <a href="javascript:;" style="color: #01AAED">创建成功，ID：{{d.create_id}}</a>
        {{# } }}
    {{# }else if(d.pay_type == '0'){ }}
        {{# if(d.status == '1'){ }}
            <a href="javascript:;" style="color: #fb6638" lay-event="show-reason">创建失败，查看原因</a>
        {{# }else if(d.status == '2'){ }}
            <a href="javascript:;" style="color: #01AAED">创建成功，ID：{{d.create_id}}</a>
        {{# } }}
    {{# } }}
</script>
<script type="text/html" id="list-table-tool">
    <div class="controller-box">
        <a href="javascript:;" lay-event="delete">删除</a>
    </div>
</script>
<script type="text/javascript">
    layui.use(['table', 'layer'], function() {
        var table = layui.table, layer = layui.layer;
        var tableIns = table.render({
            elem: '#list',
            defaultToolbar: [],
            url: "{php echo $this->createWebUrl('orders', array('op' => 'get_order_list'))}",
            page: true,
            method: 'post',
            skin: 'line',
            cols: [[
                {field: 'ordersn', title: '订单号',unresize: true, width: 200},
                {field: 'name', title: '企业名称',unresize: true, width:250},
                {field: 'code', title: '企业代码', width:180,align:"center",unresize: true},
                {field: 'legal_persona_wechat', title: '微信号', width:100,align:"center",unresize: true},
                {field: 'legal_persona_name', title: '姓名', width:100,align:"center",unresize: true},
                {field: 'status', title: '支付状态', align:"center",unresize: true, width:120, toolbar: '#list-table-pay-status'},
                {field: 'status', title: '状态', align:"center",unresize: true, toolbar: '#list-table-status'},
                {field: 'controller', title: '操作', width:200,align:"center", toolbar: '#list-table-tool',unresize: true, fixed: "right"},
            ]],
            limit: 20,
            response: {
                statusName: 'status' //规定数据状态的字段名称，默认：code
                ,statusCode: 1 //规定成功的状态码，默认：0
                ,msgName: 'message' //规定状态信息的字段名称，默认：msg
                ,countName: 'total' //规定数据总数的字段名称，默认：count
                ,dataName: 'list' //规定数据列表的字段名称，默认：data
            }
        });
        table.on('tool(list)', function(obj){
            switch(obj.event){
                case 'show-reason':
                    layer.alert(obj.data.status_text, {'title': '提示'});
                    break;
                case 'delete':
                    layer.confirm('确认删除该订单？<br>删除后将无法找回', {icon: 3, title:'提示'}, function(index){
                        var index;
                        jQuery.ajax({
                            type: "post",
                            dataType: "json",
                            url: "{php echo $this->createWebUrl('orders', array('op' => 'delete_order'))}",
                            cache: false,
                            data: obj.data,
                            beforeSend: function(){
                                index = layer.load();
                            },
                            success: function(res2){
                                layer.close(index);
                                if(res2.status == '0'){
                                    layer.alert(res2.result.message);
                                }else{
                                    layer.alert(res2.result.message);
                                    table.reload('list', {
                                        page: {
                                            curr: 1
                                        }
                                    });
                                }
                            }
                        });
                    });
                    break;
            }
        });
    });
</script>
{include file="common/footer"}