<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <script> document.documentElement.style.fontSize =document.documentElement.clientWidth/750*40 +"px";</script>
    <meta name="format-detection" content="telephone=no" />
    <title>{if empty($settings['page_title'])}自助申请{else}{$settings['page_title']}{/if}</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/2.0.0/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.2.1/css/jquery-weui.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.2.1/js/jquery-weui.min.js"></script>
    <script src="__STATIC__/js/dist/jquery/jquery.jcjs.js"></script>
</head>
<style>
    .weui-dialog{
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>
<body style="background-color: #ededed">

